
#aboutgo{
  border-right: 2px dashed green;
  width: 100px;
  margin: 0;
  padding: 20px;
}
body{
  margin: 0px;
}
#indextext{
  border: 1px solid black;
  display: grid;
  grid-template-columns: 150px 1fr;
}
#footer_id{
  border: none; border: 1px dashed gray;
}
#footerimg{
  margin: 0px;
  padding: 0px;
  border: 0px;
  filter: sepia();
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
background-color:#ff99ff;
  border-radius: 0 0 2rem 2rem;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 5rem;
  color: white;
  width: max-content;
  font-weight: 800;
}

header h1::selection {
  color: white;
  background-color: #ff99ff;
  -webkit-text-fill-color: white;
  -mos-text-fiil-color:white;
  -o-text-fill-color:white;
  -ms-text-fill-color:white;
  border-radius: 1rem;
}
